:root,
[data-theme='default'] {
	--color-primary: #01d167;
	--color-secondary: #0c365a;
	--color-white: #fff;
	--color-black: #222222;
	--color-blue: #23cefd;
	--color-blue-light: #edf3ff;
	--color-blue-lighter: #f5f9ff;
	--color-blue-dark: #325baf;
	--color-gray-acadia: #ddd;
}
