body {
	font-family: var(--font-primary, sans-serif);
	font-weight: var(--body-font-weight, normal);
	@apply text-black-c;
	@apply text-base;
}

h1,
h2,
h3,
h4 {
	@apply text-black-c;
	line-height: var(--heading-line-height, 1.2);
	font-weight: var(--heading-font-weight, 700);
}

small {
	font-size: var(--text-sm, 0.75rem);
}

a,
.link {
	color: var(--color-primary, hsl(250, 84%, 54%));
	text-decoration: none;
}

strong {
	font-weight: bold;
}

s {
	text-decoration: line-through;
}

u {
	text-decoration: underline;
}
